<!-- start of layout header -->
<div class="margin-from-header"></div>
<div class="layout">
  <div>
    
    <div class="buttons">
      <div><button class="button1">View All</button></div>
      <div><button class="button2">Sort by AUM</button></div>
      <div><button class="button2">Sort by P&L</button></div>
      <div><button class="button2">Sort by ROI</button></div>
      <div><button class="button2">Sort by Leverage</button></div>
      <div><button class="button2">Open Only</button></div>
    </div>
    <!--  -->
    <div class="table">
    <div class="row_1">
      <div class="col_1">
        Account
      </div>
      <div class="col_1">
        AUM
      </div>
      <div class="col_1">
        P&L
      </div>
      <div class="col_1">
      ROI
      </div>
      <div class="col_1">
        Sharp Ratio
      </div>
      <div class="col_1">
        LP
      </div>
      <div class="col_1">
        Status
      </div>
    </div>

    <div class="row">
      <div class="col">
        Andrew
      </div>
      <div class="col">
        $12,000,000
      </div>
      <div class="col">
        +$1,000,000
      </div>
      <div class="col">
        +30%
      </div>
      <div class="col">
        25%
      </div>
      <div class="col">
        1,234
      </div>
      <div class="col">
        Open
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        Andrew
      </div>
      <div class="col">
        $12,000,000
      </div>
      <div class="col">
        +$1,000,000
      </div>
      <div class="col">
        +30%
      </div>
      <div class="col">
        25%
      </div>
      <div class="col">
        1,234
      </div>
      <div class="col">
        Open
      </div>
    </div>

    

    
  </div>
</div>

  