<!-- start of layout header -->
<div class="margin-from-header"></div>
<div class="layout">
  <div>
    <div class="buttons">
      <div><button class="button1">View All</button></div>
      <div><button class="button2">Sort by AUM</button></div>
      <div><button class="button2">Sort by P&L</button></div>
      <div><button class="button2">Sort by ROI</button></div>
      <div><button class="button2">Sort by Leverage</button></div>
      <div><button class="button2">Open Only</button></div>
    </div>
    <!--  -->
    <div class="table">
      <div class="row_1">
        <div class="col_1">Account</div>
        <div class="col_1">AUM</div>
        <div class="col_1">P&L</div>
        <div class="col_1">ROI</div>
        <div class="col_1">Sharp Ratio</div>
        <div class="col_1">LP</div>
        <div class="col_1">Status</div>
      </div>

      <a routerLink="/club/1">
        <div class="row">
          <div class="col">Andrew</div>
          <div class="col">$12,000,000</div>
          <div class="col">+$1,001110,000</div>
          <div class="col">+30%</div>
          <div class="col">25%</div>
          <div class="col">1,234</div>
          <div class="col">Open</div>
        </div>
      </a>
      <a routerLink="/club/2">
        <div class="row">
          <div class="col">John</div>
          <div class="col">$8,500,000</div>
          <div class="col">+$800,000</div>
          <div class="col">+15%</div>
          <div class="col">33%</div>
          <div class="col">987</div>
          <div class="col">Open</div>
        </div>
      </a>
      <a routerLink="/club/3">
        <div class="row">
          <div class="col">Sarah</div>
          <div class="col">$6,000,000</div>
          <div class="col">-$500,000</div>
          <div class="col">-10%</div>
          <div class="col">20%</div>
          <div class="col">765</div>
          <div class="col">Closed</div>
        </div>
      </a>

      <a routerLink="/club/4">
        <div class="row">
          <div class="col">John</div>
          <div class="col">$10,000,000</div>
          <div class="col">+$500,000</div>
          <div class="col">+5%</div>
          <div class="col">20%</div>
          <div class="col">1,234</div>
          <div class="col">Open</div>
        </div>
      </a>
      <a routerLink="/club/5">
        <div class="row">
          <div class="col">Emily</div>
          <div class="col">$7,500,000</div>
          <div class="col">-$250,000</div>
          <div class="col">-5%</div>
          <div class="col">10%</div>
          <div class="col">567</div>
          <div class="col">Closed</div>
        </div>
      </a>
      <a routerLink="/club/6">
        <div class="row">
          <div class="col">William</div>
          <div class="col">$15,000,000</div>
          <div class="col">+$2,500,000</div>
          <div class="col">+20%</div>
          <div class="col">50%</div>
          <div class="col">1,789</div>
          <div class="col">Open</div>
        </div>
      </a>
      <a routerLink="/club/7">
        <div class="row">
          <div class="col">Olivia</div>
          <div class="col">$20,000,000</div>
          <div class="col">+$1,000,000</div>
          <div class="col">+5%</div>
          <div class="col">30%</div>
          <div class="col">2,345</div>
          <div class="col">Open</div>
        </div>
      </a>
      <a routerLink="/club/8">
        <div class="row">
          <div class="col">Michael</div>
          <div class="col">$3,000,000</div>
          <div class="col">-$500,000</div>
          <div class="col">-20%</div>
          <div class="col">5%</div>
          <div class="col">123</div>
          <div class="col">Closed</div>
        </div>
      </a>
      <a routerLink="/club/9">
        <div class="row">
          <div class="col">Emma</div>
          <div class="col">$6,000,000</div>
          <div class="col">-$1,000,000</div>
          <div class="col">-15%</div>
          <div class="col">15%</div>
          <div class="col">456</div>
          <div class="col">Open</div>
        </div>
      </a>
    </div>
  </div>
</div>
