<div>
  <div class="layout-header-container">
    <div>
      <h1 class="main-title">Create A Club</h1>
      <div class="main-text-container">
        <div class="text-template-1">
          <p class="sub-title">Config details here</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of the layout header -->
<!-- start of card container -->
<div class="pool">
  <div>
    <div class="card">
      <div class="card-image-text current-pool-container">
        <div class="maven-logo current-pool">
          <img src="/assets/images/placeholder.png" />
          <span class="edit">edit</span>
        </div>

        <div class="card-text-container">
          <div class="get-cover-form-container">
            <div class="input-label">
              <div class="input-cover-amount-label">Club name</div>
            </div>
            <input class="cover-amount-input" type="text" [(ngModel)]="name" value="name"/>

            <div class="date-input-container">

              <div class="date-input-and-tag">
                <div class="date-label">
                  <div class="long-label">Window wait days</div>
                </div>
                <div class="input-box">
                  <input class="cover-amount-input" type="text" [(ngModel)]="waitDays" value="waitDays"/>
                  <div class="max">days</div>
                </div>
              </div>

              <div class="date-input-and-tag">
                <div class="date-label">
                  <div class="long-label">Window gap days</div>
                </div>
                <div class="input-box">
                  <input class="cover-amount-input" type="text" [(ngModel)]="gapDays" value="gapDays"/>
                  <div class="max">days</div>
                </div>
              </div>
            </div>

            <div class="date-input-container">
              <div class="date-input-and-tag">
                <div class="date-label">
                  <div>Window open days</div>
                </div>
                <div class="input-box">
                  <input class="cover-amount-input" type="text" [(ngModel)]="openDays" value="openDays"/>
                  <div class="max">days</div>
                </div>
              </div>

              <div class="date-input-and-tag">
                <div class="date-label">
                  <div>Management fee</div>
                </div>
                <div class="input-box">
                  <input class="cover-amount-input" type="text" [(ngModel)]="managementFee" value="managementFee"/>
                  <div class="max">%</div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-label">
            <div class="input-cover-amount-label">Terms and conditions</div>
          </div>
          <textarea rows="4" cols="50" class="cover-amount-input address-list" [(ngModel)]="terms">{{terms}}</textarea>

          <button class="form-deposit-button" [disabled]="saving" (click)="save()">
            <span>Submit
              <span class="icon-spinner" *ngIf="saving"></span>
            </span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
