<div class="margin-from-header"></div>

<div class="layout" style="background-color: white;">
  <div class="box">
    <select class="my-select">
      <option>GMX</option>
    </select>
  </div>
  <div class="box">
    <div class="col">
      <p class="title" style="align-items: center;">Fund Asset</p>
      <p class="number">$34,849</p>
    </div>
    <div class="col">
      <p class="title" style="align-items: center;">Cash Asset</p>
      <p class="number">$12,509</p>
    </div>
  </div>
</div>

<div class="layout" style="margin-top: 60px;">
  <div class="box">
    <div class="col">
      <select class="my-select">
        <option>BTC / USD</option>
      </select>
    </div>
    <div class="col">
      <p class="title" style="align-items: center;">Price</p>
      <p class="number">${{btcPrice}}</p>
    </div>
  </div>
  <div class="box">
  <div class="input-field-1">
    <input class="radio" id="one" name="group" type="radio" checked>
    <input class="radio" id="two" name="group" type="radio">
    <div class="tabs">
      <label class="tab" id="one-tab" for="one">Long</label>
      <label class="tab" id="two-tab" for="two">Short</label>
    </div>

    <div class="input-container">
      <div class="input-label">
        <div class="input-cover-amount-label">Pay</div>
        <div class="max" (click)="max()">MAX</div>
      </div>
      <input class="form-input" type="text" [(ngModel)]="baseAmountToTrade" [value]="baseAmountToTrade"/>
    </div>
    <div class="my-wallet-amount">
      <p>Available Amount</p>
      <p>${{formatBalance(availableAmount)}}</p>
    </div>
    <select class="my-select" style="margin: 10px auto 20px auto; display: block;width: 40%;">
      <option>1x</option>
      <option>2x</option>
      <option>3x</option>
      <option>5x</option>
      <option>10x</option>
      <option>20x</option>
    </select>
    <button class="form-button" [disabled]="longing" (click)="long()">
      <span>Long
        <span class="icon-spinner" *ngIf="longing"></span>
      </span>
    </button>
  </div>
  </div>
</div>

<div class="layout" style="display: block;">
  <div>
    <div class="table">
      <div class="row_1">
        <div class="col_1">Position</div>
        <div class="col_1">Net Value</div>
        <div class="col_1">Size</div>
        <div class="col_1">Collateral</div>
        <div class="col_1">Entry Price</div>
        <div class="col_1">Mark Price</div>
        <div class="col_1">Liq Price</div>
        <div class="col_1"></div>
      </div>

      <div class="row">
        <div class="col">BTC (3X Long)</div>
        <div class="col">$1,200 (+$4.1)</div>
        <div class="col">$44.51</div>
        <div class="col">$14.91</div>
        <div class="col">$22,370</div>
        <div class="col">$22,379</div>
        <div class="col">$17,455</div>
        <div class="col">close</div>
      </div>
    </div>
  </div>
</div>
