<!-- end of the main header -->
<!-- start of layout header -->

<div>
  <div class="layout-header-container">
    <div>
      <h1 class="main-title">Decentralized Social Investment for Perpetuals</h1>
      <div class="main-text-container">
        <div class="text-template-1">
          <p class="sub-title">Connect with other perpetual traders, follow their trades, and replicate their trading strategies in a single click</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of the layout header -->
