<!-- end of the main header -->
<!-- start of layout header -->

<div>
  <div class="layout-header-container">
    <div>
      <h1 class="main-title">Decentralized Social Investment for Perpetuals</h1>
      <div class="main-text-container">
        <div class="text-template-1">
          <p class="sub-title">Connect with other perpetual traders, follow their trades, and replicate their trading strategies in a single click</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="layout" style="text-align: center;">
  <img src="/assets/images/banner0.png" width="80%">
</div>
<div class="layout" style="text-align: center; margin-bottom: 20px;">
  <img src="/assets/images/banner1.png" width="50%">
</div>
<!-- end of the layout header -->
